* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9; 
    color: #333; 
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


header {
    background-color: #004d99; 
    width: 100%;
    padding: 3.5px;
    color: white;
    text-align: center;
}

header .logo {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 50px; 
    height: auto; 
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}


main {
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
}


section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h2 {
    font-size: 1.8rem;
    color: #004d99;
    margin-bottom: 10px;
}

section p {
    font-size: 1.2rem;
    color: #333;
}


p {
    text-align: center;
    font-size: 1rem;
    color: #ff0000;
}

nav a {
    margin: 0 15px;
    color: #004d99;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.top-left-image {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 100px;
}